header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#hero {
    background-image: url('background.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px;
    color: #fff;
}

#hero h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
}

#content {
    padding: 20px;
}

#sign-in {
    padding: 20px;
    background-size: cover;
    text-align: center;
    padding: 100px;
    background-image: url(bg3.jpg);
}

#feedback {
    padding: 20px;
    background-size: cover;
    text-align: center;
    padding: 100px;
    background-image: url(background1.png);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

img {
    max-width: 100%;
}

#feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-family: 'Roboto', sans-serif;
    background-color: #00000063;
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    backdrop-filter: blur(2px);
    text-align: left;
    width: 500px;
}

form label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form input[type="password"],
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    padding-right: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

form p {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #555;
}